@import url('https://fonts.googleapis.com/css2?family=Anton&family=Secular+One&display=swap');

/* Base color */
body {
  font-family: 'Secular One', sans-serif;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
  background: #01151b;
  color: #fff;
}